.inputFields {
    width: 510px;
    height: auto;
    margin-top: 61px;
}

.input_d {
    width: 480px;
    height: 45px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e3e3e3;
    margin-top: 20px;
    padding-left: 27px;
}

.input_l {
    width: 260px;
    height: 45px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e3e3e3;
    margin-top: 20px;
    padding-left: 27px;
}

.input_r {
    width: 175px;
    height: 45px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e3e3e3;
    padding-left: 27px;
    margin: 20px 0 0 15px;
}

hr {
    border: solid 1px #eaeaea;
    margin-top: 40px;
}

.order-img {
    position: absolute;
    margin-left: 60px;
    margin-top:20px;
}

.Result {
    width: 450px;
    float: right;
    margin-left: 35%;
    margin-top:-87%;
}